<nav class="side-nav">
  <!-- Logo Section -->
  <div class="logo">
    <img src="../../../assets/Act_logo/Logo-ACTGlobal-removebg-preview.png" alt="Logo" />
  </div>

  <!-- User Info Section -->
  <div class="user-info">
    <div class="avatar">
      <img [src]="url" alt="User Photo" class="user-photo" />
    </div>
    <div class="user-details">
      <h4 class="user-name">{{this.name}}</h4>
      <p class="user-designation">{{this.professionalType}}</p>
      <p class="user-designation">{{this.email}}</p>
      
    </div>
  </div>

  <!-- Navigation Links -->
  <ul>
    <li *ngIf="!debard && !noc && !owner">
      <a routerLink="/dashboard" class="nav-link">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li *ngIf="noc">
      <a routerLink="/nocDashboard" class="nav-link">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li *ngIf="owner">
      <a routerLink="/OwnerDashboard" class="nav-link">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li *ngIf="debard">
      <a routerLink="/departmentDashboard" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Dept. Dashboard</span>
      </a>
    </li>
    <li *ngIf="debard">
      <a routerLink="/debarred" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Debard(A/E/S/SE)</span>
      </a>
    </li>
    <li *ngIf="form">
      <a routerLink="/plinthDashboard" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Plinth</span>
      </a>
    </li>
    <li *ngIf="form">
      <a routerLink="/OccupancyDashborad" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Occupancy Cert</span>
      </a>
    </li>
    <li *ngIf="form">
      <a routerLink="/SanctionRevise" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Sanction Revise</span>
      </a>
    </li>
    <li *ngIf="form">
      <a routerLink="/Addition&Alteration" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Addn. & Altn.</span>
      </a>
    </li>
    <li *ngIf="form">
      <a routerLink="/Revalidation" class="nav-link">
        <i class="material-icons">unarchive</i>
        <span>Revalidation</span>
      </a>
    </li>
    <li>
      <a routerLink="/staticalDashboard" class="nav-link">
        <i class="material-icons">pie_chart</i>
        <span>Statistical MIS</span>
      </a>
    </li>
  </ul>

  <!-- Logout Button -->
  <button class="logout-button btn-outline-success" (click)="logout()">
    Logout
  </button>
</nav>
