@import './src/app/app.component.scss';

.some-element {
  @extend .parentbackgroundcolor;
}

.expansion{
    margin: 0.5rem;
    border: 0.1rem;
    border-style: ridge;
    border-color: black;
}
.custom-dialog {
  // border-style: outset;
  max-width: 80%; 
  margin: 1.75rem auto;
}

.referencehierarchy{
  display: flex;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-left: 2%;
  margin-right: 4%;
  
}
.buttonHierachy{
  border-style: ridge;
  border-radius: 4px;
}

.viewDoc:hover{
  color: rgb(230, 77, 35);
  cursor: pointer;
}

.viewDoc{
  color: rgb(14, 124, 124);
}
.button-spacing {
  margin-right: 10px; /* Adjust the space between buttons as needed */
}



/* * {
  margin:0;
  padding:0;
  font-family: 'Arvo';
}
 */
/* body{
  background-color: #E63946;
} */

.main {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: green;
  font-size: 1rem;
  font-weight: 800;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557;
}

#rolltext {
  display: flex;
  gap: 30px; /* Adds space between the items */
  animation: slide 10s linear infinite;
}

.inspection-info {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1D3557;
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    color: #F1FAEE;
  }

  .roller {
    height: 3rem;
    line-height: 2.6rem;
  }

  #rolltext {
    gap: 20px;
    animation: slide-mob 8s linear infinite;
  }

  @keyframes slide-mob {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

