@import "./src/app/app.component.scss";

.some-element {
  @extend .parentbackgroundcolor;
}

.dashboardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboardTable th {
  background-color: #3498db;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.detail {
  // font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  font-style: italic;
}
.detail:hover {
  cursor: pointer;
  color: rgb(67, 121, 13);
}

::ng-deep .mat-mdc-paginator-page-size-select {
  width: 60px !important;
  height: 14px;
}

img {
  width: 6%;
  height: 10%;
}
.one {
  cursor: pointer;
  margin: 4%;
  border-style: outset;
  border-radius: 5%;
  display: flex;
  justify-content: space-evenly;
}

.split {
  border-style: double;
  border-radius: 2%;
  width: 100%;
  z-index: 1;
  top: 0;
}

.left {
  background-color: #abb4b6;
}

.right {
  right: 0;
  background-color: #abb4b6;
}

td{
  padding: .5rem 1.9rem;
}