<app-new-form-view></app-new-form-view>
<div class="registration-container parentbackgroundcolor">

    <!-- <div class="header mt-3">
        <h1>Support File Details</h1>
    </div> -->

    <div class="m-4">
    <div class="row mb-2 mt-2 d-flex justify-content-between">
        <!-- <div class="col-md-4 col-sm-12 col-xs-12">
            <mat-label class="title">File Request Id :- </mat-label>
            <p class="fid">{{fileNumber}}</p>
        </div>   -->
 

        <!-- <div class="col-md-4 col-sm-12 col-xs-12">
            <mat-label class="title">File No :- </mat-label>
            <p class="fid">{{fileNo}}</p>
        </div> -->
        <hr>
   
    
    <mat-card class="display-6 mb-5">
        <mat-card-header>
            <mat-card-title class="mb-3">Document details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                       
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Lease deed :</span>
                            <span class="leaseDeedCertificateName-value">&nbsp;{{leaseDoctype}}</span>
                        </div>
                        <input matInput name="leaseDeedCertificateName" readonly>
                        <mat-icon matSuffix (click)="openCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control" style="width: 100%;">
                      <div class="placeholder-wrapper" style="display: flex; align-items: center; justify-content: flex-start;">
                        <span class="placeholder-text" style="flex-shrink: 0; margin-right: 5px;">
                          Remark : 
                        </span>
                        <!-- Apply inline CSS for ellipsis effect and hover functionality -->
                        <span class="leaseRemarks-value" 
                              style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; position: relative; cursor: pointer;"
                              title="{{ leaseRemarks }}">
                          {{ leaseRemarks }}
                        </span>
                      </div>
                      <input matInput name="leaseRemarks" readonly style="width: 100%;" />
                    </mat-form-field>
                  </div>
                  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                       
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Sale deed :</span>
                            <span class="SaleDeedCertificatename-value">&nbsp;{{SaleDeedDoctype}}</span>
                        </div>
                        <input matInput name="SaleDeedCertificatename" readonly>
                        <mat-icon matSuffix (click)="openSaleDeedCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control" style="width: 100%;">
                      <div class="placeholder-wrapper" style="display: flex; align-items: center; justify-content: flex-start;">
                        <span class="placeholder-text" style="flex-shrink: 0; margin-right: 5px;">
                          Remark : 
                        </span>
                        <!-- Apply inline CSS for ellipsis effect and hover functionality -->
                        <span class="saleRemark-value" 
                              style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; position: relative; cursor: pointer;"
                              title="{{ saleRemark }}">
                          {{ saleRemark }}
                        </span>
                      </div>
                      <input matInput name="saleRemark" readonly style="width: 100%;" />
                    </mat-form-field>
                  </div>
                  

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                       
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Site photograph :</span>
                            <span class="sitePhotographCertificatename-value">&nbsp;{{siteDocttype}}</span>
                        </div>
                        <input matInput name="sitePhotographCertificatename" readonly>
                        <mat-icon matSuffix (click)="opensitePhotographCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control" style="width: 100%;">
                      <div class="placeholder-wrapper" style="display: flex; align-items: center; justify-content: flex-start;">
                        <span class="placeholder-text" style="flex-shrink: 0; margin-right: 5px;">
                          Remark : 
                        </span>
                        <!-- Apply inline CSS for ellipsis effect and hover functionality -->
                        <span class="siteRemark-value" 
                              style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; position: relative; cursor: pointer;"
                              title="{{ siteRemark }}">
                          {{ siteRemark }}
                        </span>
                      </div>
                      <input matInput name="siteRemark" readonly style="width: 100%;" />
                    </mat-form-field>
                  </div>
                  

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                       
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Mutation form :</span>
                            <span class="mutitionFormCertificatename-value">&nbsp;{{mutitionDoctype}}</span>
                        </div>
                        <input matInput name="mutitionFormCertificatename" readonly>
                        <mat-icon matSuffix (click)="openmutitionFormCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control" style="width: 100%;">
                      <div class="placeholder-wrapper" style="display: flex; align-items: center; justify-content: flex-start;">
                        <span class="placeholder-text" style="flex-shrink: 0; margin-right: 5px;">
                          Remark : 
                        </span>
                        <!-- Apply inline CSS for ellipsis effect and hover functionality -->
                        <span class="mutitionRemark-value" 
                              style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; position: relative; cursor: pointer;"
                              title="{{ mutitionRemark }}">
                          {{ mutitionRemark }}
                        </span>
                      </div>
                      <input matInput name="mutitionRemark" readonly style="width: 100%;" />
                    </mat-form-field>
                  </div>
                  

               
            </div>
        </mat-card-content>
    </mat-card>


<!-- 
    <mat-card class="display-6 mb-5">
        <mat-card-header>
            <mat-card-title class="mb-3">Owner photo id</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Photograph :</span>
                            <span class="photograpFormCertificatename-value">&nbsp;{{photographDoctype}}</span>
                        </div>
                        <input matInput name="photograpFormCertificatename" readonly>
                        <mat-icon matSuffix (click)="openphotograpFormCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Remark : </span>
                            <span class="photographRemark-value">&nbsp; {{photographRemark}}</span>
                        </div>
                        <input matInput name="photographRemark" readonly>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Photo id proof :</span>
                            <span class="photoIdCertificatename-value">&nbsp;{{photoidDotype}}</span>
                        </div>
                        <input matInput name="photoIdCertificatename" readonly>
                        <mat-icon matSuffix (click)="openphotoIdCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Remark : </span>
                            <span class="photoIdRemark-value">&nbsp; {{photoIdRemark}}</span>
                        </div>
                        <input matInput name="photoIdRemark" readonly>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="display-6 mb-5">
        <mat-card-header>
            <mat-card-title class="mb-3">If company</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Company id proof :</span>
                            <span class="companyIdCertificatename-value">&nbsp;{{companyIDDoctype}}</span>
                        </div>
                        <input matInput name="companyIdCertificatename" readonly>
                        <mat-icon matSuffix (click)="opencompanyIdCertificatePdf()" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Remark : </span>
                            <span class="companyIdRemark-value">&nbsp; {{companyIdRemark}}</span>
                        </div>
                        <input matInput name="companyIdRemark" readonly>
                    </mat-form-field>
                </div>

                   

                    
            </div>
        </mat-card-content>
    </mat-card> -->








    <mat-card class="display-6 mb-5">
        <mat-card-header>
            <mat-card-title class="mb-3">Others id proof</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
            <div class="row" *ngFor="let doc of documents" >
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field appearance="fill" class="input-control">
                    <div class="placeholder-wrapper">
                      <!-- <span class="placeholder-text">{{ doc.docName }}:</span> -->
                      <span class="docname1">&nbsp;Other Doc :{{ doc.docType }}</span>
                    </div>
                    <input matInput [name]="doc.docName" readonly>
                    <mat-icon matSuffix (click)="openPdf(doc.docUniqueId)" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control" style="width: 100%;">
                      <div class="placeholder-wrapper" style="display: flex; align-items: center; justify-content: flex-start;">
                        <span class="docReamrk" 
                              style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; position: relative; cursor: pointer;" 
                              title="{{ doc.remark }}">
                          Remark: {{ doc.remark }}
                        </span>
                      </div>
                      <input matInput [name]="doc.docName + 'Remark'" readonly style="width: 100%;" />
                    </mat-form-field>
                  </div>
                  
              </div>
              
              
        </mat-card-content>
    </mat-card>



    <!-- <mat-card class="display-6 mb-5">
        <mat-card-header>
            <mat-card-title class="mb-3">Others id proof</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
            <div class="row" *ngFor="let doc of documents">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Other Doc :{{ doc.docType }}</span>
                            <span class="companyIdCertificatename-value">&nbsp;{{companyIDDoctype}}</span>
                        </div>
                        <input matInput name="companyIdCertificatename" readonly>
                        <mat-icon matSuffix (click)="openPdf(doc.docUniqueId)" matTooltip="View certificate PDF">remove_red_eye</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <mat-form-field appearance="fill" class="input-control">
                        <div class="placeholder-wrapper">
                            <span class="placeholder-text">Updates regarding : {{ doc.docName }} </span>
                            <span class="companyIdRemark-value">&nbsp; {{companyIdRemark}}</span>
                        </div>
                        <input matInput name="companyIdRemark" readonly>
                    </mat-form-field>
                </div>

                   

                    
            </div>
        </mat-card-content>
    </mat-card> -->




    </div>
</div>

<div class="d-flex justify-content-center text-center mb-3" *ngIf="nextDisable">
    <!-- <div class="col-md-12  mt-1"> -->
        <button mat-raised-button color="primary" (click)="SecondFrom()">Next </button>
    <!-- </div> -->
    
    <button mat-raised-button color="primary" type="submit" class="log" (click)="back()" *ngIf="senddata.status =='Documents Uploaded'" style="margin-left: 2%;">
        Back
      </button>
</div>


</div>

