/* Header */
.header {
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.header i {
  margin-left: 10px;
}
.even-row {
    background-color: lightgray; /* Change to your desired color */
    border-radius: 1px solid black;
  }
  
  .odd-row {
    background-color: whitesmoke; /* Change to your desired color */
    border-radius: 1px solid black;
  }
  .container {
    height: 500px; /* Define the height of the container */
    overflow-y: auto; /* Allows scrolling if necessary */
  }
  
  .item-box {
    width: 100%; /* Adjust as needed */
    height: 10%; /* 10% of the parent container's height */
    box-sizing: border-box; /* Include padding and border in the height calculation */
    border: 1px solid #ccc; /* Optional: add a border for visibility */
    display: flex; /* Optional: to center content */
    align-items: center; /* Optional: vertically center content */
    justify-content: center; /* Optional: horizontally center content */
  }
  
