<div class="login-container parentbackgroundcolor"></div>
<div class="header">
  <div>
    Public Dashboard <i class="fa-solid fa-clipboard-check fa-1x"></i>
  </div>
</div>

 <div>
    <div class="latestUpdate">
      <p>
        <i class="fa-regular fa-file fa-2x fa-fade"></i> Total files created:
        <br />{{ totalFilesCreated }}
      </p>
      <p>
        <i class="fa-solid fa-thumbs-up fa-2x fa-fade"></i> Total files approved
        <br />{{ totalFilesApproved }}
      </p>
      <p>
        <i class="fa-solid fa-thumbs-up fa-2x fa-fade"></i> Total files reject
        <br />{{ totalFilesReject }}
      </p>
      <p>
        <i class="fa-solid fa-hourglass-half fa-2x fa-fade"></i> Total files
        pending for approval:<br />
        {{ totalFilesPendingApproval }}
      </p>
      
      <p>
        <i class="fa-regular fa-id-card fa-2x fa-fade"></i> Total registered
        Consultants(AES): <br />{{ totalRegisteredConsultants }}
      </p>
    </div>
  </div>
<h2 style="text-align: center;
color: black;
font-weight: bold;
">Application Details 👇</h2>
<div class="main11">
  <div class="container" style="padding: 2%;">
    <div class="search" style="display: flex; align-items: center;">
      <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchFarId()" style="flex-grow: 1; display: flex; align-items: center; width: 100%;">
        <div formGroupName="FarId" style="flex-grow: 1; margin-right: 10px;">
          <mat-form-field appearance="fill" class="requestbtn" style="width: 100%;">
            <mat-label>Enter File Request Id</mat-label>
            <input matInput formControlName="frId" placeholder="Enter Far Id." />
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" style="margin-left: 10px;">
          Submit
        </button>
        <button mat-raised-button color="primary" (click)="back()" style="margin-left: 10px;">
          Back
        </button>
      </form>
    </div>
  </div>
</div>


<div class="m-2" *ngIf="dataOut" style="padding: 1%;">
  <h2>Basic Information</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Plot Area</mat-label>
        <input matInput [value]="basicDeatils.pArea" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Building Height</mat-label>
        <input matInput [value]="basicDeatils.bHeight" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>File Created By</mat-label>
        <input matInput [value]="basicDeatils.fileCreatedBy" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Current Status</mat-label>
        <input matInput [value]="basicDeatils.status" readonly />
      </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Builder Name</mat-label>
        <input matInput [value]="basicDeatils.builderName" readonly />
      </mat-form-field>
    </div>
  </div>

  <h2>Site Location Details</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Address</mat-label>
        <input matInput [value]="
              siteLocationDetails.landMark +
              siteLocationDetails.blockNumber +
              siteLocationDetails.address
            " readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>District</mat-label>
        <input matInput [value]="siteLocationDetails.district" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Pin Code</mat-label>
        <input matInput [value]="siteLocationDetails.pinCode" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>State</mat-label>
        <input matInput [value]="siteLocationDetails.state" readonly />
      </mat-form-field>
    </div>
  </div>

  <br>
  <div *ngFor="let applicant of applicantDetails" class="row">
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Name</mat-label>
        <input matInput [value]="applicant.name" readonly />
      </mat-form-field>
    </div>
  </div>

<div class="row">
    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Name</mat-label>
        <input matInput [value]="
              lastDeptTypeEntry.firstName +
              (lastDeptTypeEntry.middleName
                ? ' ' + lastDeptTypeEntry.middleName
                : '') +
              (lastDeptTypeEntry.lastName
                ? ' ' + lastDeptTypeEntry.lastName
                : '')
            " readonly />
      </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-12">
      <mat-form-field appearance="fill" style="padding: 1%;">
        <mat-label>Dept Type</mat-label>
        <input matInput [value]="lastDeptTypeEntry.deptType" readonly />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="viewLetter">
      <mat-form-field appearance="fill" class="input-control" style="padding: 1%;">
        <mat-label>Letter Type</mat-label>
        
        <!-- Readonly input field -->
        <input matInput name="licensedNo" readonly />
    
        <!-- Mat Icon to trigger PDF opening with tooltip -->
        <mat-icon matSuffix (click)="openLicensePdf($event)" matTooltip="Approve letter PDF">remove_red_eye</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- <div class="sidenav">
    <div class="latestUpdate">
      <p>
        <i class="fa-regular fa-file fa-2x fa-fade"></i> Total files created:
        <br />{{ totalFilesCreated }}
      </p>
      <p>
        <i class="fa-solid fa-thumbs-up fa-2x fa-fade"></i> Total files approved
        <br />{{ totalFilesApproved }}
      </p>
      <p>
        <i class="fa-solid fa-hourglass-half fa-2x fa-fade"></i> Total files
        pending for approval:<br />
        {{ totalFilesPendingApproval }}
      </p>
      <p style="margin-left: -15px">
        <i class="fa-regular fa-id-card fa-2x fa-fade"></i> Total registered
        consultants: <br />{{ totalRegisteredConsultants }}
      </p>
      <div class="chart2">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>
</div> -->