@import './src/app/app.component.scss';

// .some-element {
//   @extend .parentbackgroundcolor;
// }


.res{
  // font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 2px;
  font-style: oblique;
  color: cornflowerblue;
}

.custom-dialog {
  // border-style: outset;
  max-width: 80%; 
  margin: 1.75rem auto;
}

.referencehierarchy{
  display: flex;
  justify-content: space-between;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-left: 2%;
  margin-right: 4%;
  
}
.buttonHierachy{
  border-style: ridge;
  border-radius: 4px;
}

.viewDoc:hover{
  color: rgb(230, 77, 35);
  cursor: pointer;
}

.viewDoc{
  color: rgb(14, 124, 124);
}
.button-spacing {
  margin-right: 10px; /* Adjust the space between buttons as needed */
}

  /* Close button styling */
  .close-btn {
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s;
    margin-right: 2%;
  }
  
  .iframe{
    height: 50%;
    width: 30%;
  }
  .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .delete-btn {
    margin-left: 8px;
  }
  
  .mat-form-field .mat-icon-button {
    padding: 8px;
  }
  